<html>

    <head>

    <title>login page</title>

        <link rel="stylesheet" href='../static/master.css'/>

    </head>

    <body>

            <h1>Welcome to login page</h1>

            <form action="" method="POST" style="margin-left:250; margin-right:250; margin-top:200;">

            <input type="text" name="username" placeholder="username"><br><br>

            <input type="varchar" name="password" placeholder="password"><br><br>

            <input type="submit" name="submit" values="submit"><br>

        </form>

    </body>

</html>


